---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/financialyears?date=2012-07-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '21'
      X-Uid:
      - 003d8894
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"FinancialYears":[{"@url":"https:\/\/api.fortnox.se\/3\/financialyears\/2","Id":2,"FromDate":"2011-07-13","ToDate":"2012-12-31","AccountingMethod":"ACCRUAL"}]}'
  recorded_at: Fri, 21 Aug 2015 10:33:52 GMT
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts?financialyear=2&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '44'
      X-Uid:
      - c953b99b
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1118,"@TotalPages":12,"@CurrentPage":1},"Accounts":[{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1010?financialyear=2","Active":false,"Description":"Balanserade
        utgifter","Number":1010,"SRU":7202,"Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1011?financialyear=2","Active":false,"Description":"Balanserade
        utgifter f\u00f6r forskning och utveckling","Number":1011,"SRU":7202,"Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1012?financialyear=2","Active":false,"Description":"Balanserade
        utgifter f\u00f6r programvaror","Number":1012,"SRU":7202,"Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1018?financialyear=2","Active":false,"Description":"Ackumulerad[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts?financialyear=2&limit=100&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '39'
      X-Uid:
      - 10ebfdab
      X-Build:
      - a26e874715
    bod[...]
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts/2519?financialyear=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '32'
      X-Uid:
      - e428b0b7
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"Account":{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/2519?financialyear=2","Active":true,"BalanceBroughtForward":0,"BalanceCarriedForward":298840,"CostCenter":"","CostCenterSettings":"ALLOWED","Description":"Debiterad
        prelimin\u00e4rskatt","Number":2519,"Project":0,"ProjectSettings":"ALLOWED","SRU":7368,"TransactionInformation":"","TransactionInformationSettings":"ALLOWED","VATCode":null,"Year":2}}'
  recorded_at: Fri, 21 Aug 2015 10:33:57 GMT
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=2&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '66'
      X-Uid:
      - 811b66ec
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":236,"@TotalPages":3,"@CurrentPage":1},"Vouchers":[{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/1?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":1,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/2?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":2,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/3?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":3,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/4?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":4,"VoucherSeries":"A","Yea[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=2&limit=100&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '64'
      X-Uid:
      - 86f8e43e
      X-Build:
      - a26e874715
    bod[...]
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers/A/49?financialyear=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '28'
      X-Uid:
      - 09df9648
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"Voucher":{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/49?financialyear=2","Comments":null,"CostCenter":"","Description":"Kamera","Project":0,"ReferenceNumber":"","ReferenceType":"MANUAL","TransactionDate":"2011-12-27","VoucherNumber":49,"VoucherRows":[{"Account":2640,"CostCenter":"","Credit":0,"Description":"Ing\u00e5ende
        moms","Debit":187.8,"Project":0,"Removed":false,"TransactionInformation":""},{"Account":5400,"CostCenter":"","Credit":0,"Description":"F\u00f6rbrukningsinventarier
        och f\u00f6rbrukningsmaterial (gruppkonto)","Debit":751.2,"Project":0,"Removed":false,"TransactionInformation":""},{"Account":2893,"CostCenter":"","Credit":939,"Description":"Skulder
        till n\u00e4rst\u00e5ende personer, kortfristig del","Debit":0,"Project":0,"Removed":false,"TransactionInformation":""}],"VoucherSeries":"A","Year":2}}'
  recorded_at: Fri, 21 Aug 2015 10:34:03 GMT
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers/A/193?financialyear=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '28'
      X-Uid:
      - b84d7f9c
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"Voucher":{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/193?financialyear=2","Comments":null,"CostCenter":"","Description":"\u00d6verf\u00f6ring
        till placeringskonto","Project":0,"ReferenceNumber":"","ReferenceType":"MANUAL","TransactionDate":"2012-10-29","VoucherNumber":193,"VoucherRows":[{"Account":1941,"CostCenter":"","Credit":0,"Description":"Placeringskonto,
        Swedbank","Debit":65000,"Project":0,"Removed":false,"TransactionInformation":""},{"Account":1931,"CostCenter":"","Credit":65000,"Description":"F\u00f6retagskonto,
        Swedbank","Debit":0,"Project":0,"Removed":false,"TransactionInformation":""}],"VoucherSeries":"A","Year":2}}'
  recorded_at: Fri, 21 Aug 2015 10:39:13 GMT
recorded_with: VCR 2.9.3
