---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/financialyears?date=2015-07-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '28'
      X-Uid:
      - 7679f5c3
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"FinancialYears":[{"@url":"https:\/\/api.fortnox.se\/3\/financialyears\/4","Id":4,"FromDate":"2015-01-01","ToDate":"2015-12-31","AccountingMethod":"ACCRUAL"}]}'
  recorded_at: Mon, 24 Aug 2015 11:04:17 GMT
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts?financialyear=4&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '40'
      X-Uid:
      - 41a912be
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1222,"@TotalPages":13,"@CurrentPage":1},"Accounts":[{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1010?financialyear=4","Active":false,"Description":"Balanserade
        utgifter","Number":1010,"SRU":7201,"Year":4},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1011?financialyear=4","Active":false,"Description":"Balanserade
        utgifter f\u00f6r forskning och utveckling","Number":1011,"SRU":7201,"Year":4},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1012?financialyear=4","Active":false,"Description":"Balanserade
        utgifter f\u00f6r programvaror","Number":1012,"SRU":7201,"Year":4},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1018?financialyear=4","Active":false,"Description":"Ackumulerad[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts?financialyear=4&limit=100&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '50'
      X-Uid:
      - 68b50a9a
      X-Build:
      - a26e874715
    bod[...]
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts/1030?financialyear=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '28'
      X-Uid:
      - 51a98137
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"Account":{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1030?financialyear=4","Active":true,"BalanceBroughtForward":0,"BalanceCarriedForward":0,"CostCenter":"","CostCenterSettings":"ALLOWED","Description":"Patent","Number":1030,"Project":0,"ProjectSettings":"ALLOWED","SRU":7201,"TransactionInformation":"","TransactionInformationSettings":"ALLOWED","VATCode":null,"Year":4}}'
  recorded_at: Mon, 24 Aug 2015 11:04:20 GMT
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=4&limit=100&todate=2015-07-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '65'
      X-Uid:
      - b9398ae2
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":285,"@TotalPages":3,"@CurrentPage":1},"Vouchers":[{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/1?financialyear=4","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":1,"VoucherSeries":"A","Year":4},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/2?financialyear=4","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":2,"VoucherSeries":"A","Year":4},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/3?financialyear=4","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":3,"VoucherSeries":"A","Year":4},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/4?financialyear=4","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":4,"VoucherSeries":"A","Yea[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=4&limit=100&page=2&todate=2015-07-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '70'
      X-Uid:
      - b1e89995
      X-Build:
      - [...]
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers/A/1?financialyear=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '39'
      X-Uid:
      - 8ce71abe
      X-Build:
      - a26e874715
    body:
      encoding: UTF-8
      string: '{"Voucher":{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/1?financialyear=4","Comments":null,"CostCenter":"","Description":"il
        Forno Con Tapas","Project":0,"ReferenceNumber":"","ReferenceType":"MANUAL","TransactionDate":"2015-03-06","VoucherNumber":1,"VoucherRows":[{"Account":1930,"CostCenter":"","Credit":475,"Description":"F\u00f6retagskonto
        \/ checkkonto \/ aff\u00e4rskonto","Debit":0,"Project":0,"Removed":false,"TransactionInformation":""},{"Account":2641,"CostCenter":"","Credit":0,"Description":"Debiterad
        ing\u00e5ende moms","Debit":50.89,"Project":0,"Removed":false,"TransactionInformation":""},{"Account":6071,"CostCenter":"","Credit":0,"Description":"Representation,
        avdragsgill","Debit":424.11,"Project":0,"Removed":false,"TransactionInformation":""}],"VoucherSeries":"A","Year":4}}'
  recorded_at: Mon, 24 Aug 2015 11:05:26 GMT
[...]
