---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/financialyears?date=2012-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '37'
      X-Uid:
      - 663d2103
      X-Build:
      - '53834'
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"FinancialYears":[{"@url":"https:\/\/api.fortnox.se\/3\/financialyears\/2","Id":2,"FromDate":"2011-07-13","ToDate":"2012-12-31"}]}'
  recorded_at: Fri, 19 Sep 2014 12:45:57 GMT
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts?financialyear=2&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '47'
      X-Uid:
      - 8d05b0f2
      X-Build:
      - '53834'
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1118,"@TotalPages":12,"@CurrentPage":1},"Accounts":[{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1010?financialyear=2","Active":false,"Description":"Balanserade
        utgifter","Number":1010,"SRU":7202,"Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1011?financialyear=2","Active":false,"Description":"Balanserade
        utgifter f\u00f6r forskning och utveckling","Number":1011,"SRU":7202,"Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1012?financialyear=2","Active":false,"Description":"Balanserade
        utgifter f\u00f6r programvaror","Number":1012,"SRU":7202,"Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1018?financialyear=2","Active":false,"Description":"Ackumulerad[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts?financialyear=2&limit=100&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '46'
      X-Uid:
      - b4ea41da
      X-Build:
      - '53834'
    body:
[...]
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts/1510?financialyear=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '25'
      X-Uid:
      - 9491daf7
      X-Build:
      - '53834'
    body:
      encoding: UTF-8
      string: '{"Account":{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/1510?financialyear=2","Active":true,"BalanceBroughtForward":0,"BalanceCarriedForward":0,"CostCenter":"","CostCenterSettings":"ALLOWED","Description":"Kundfordringar","Number":1510,"Project":0,"ProjectSettings":"ALLOWED","SRU":7251,"TransactionInformation":"","TransactionInformationSettings":"ALLOWED","VATCode":null,"Year":2}}'
  recorded_at: Fri, 19 Sep 2014 12:46:00 GMT
[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/accounts/8999?financialyear=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '30'
      X-Uid:
      - 3313e2c9
      X-Build:
      - '53834'
    body:
      encoding: UTF-8
      string: '{"Account":{"@url":"https:\/\/api.fortnox.se\/3\/accounts\/8999?financialyear=2","Active":true,"BalanceBroughtForward":0,"BalanceCarriedForward":150224.92,"CostCenter":"","CostCenterSettings":"ALLOWED","Description":"\u00c5rets
        resultat","Number":8999,"Project":0,"ProjectSettings":"ALLOWED","SRU":7528,"TransactionInformation":"","TransactionInformationSettings":"ALLOWED","VATCode":null,"Year":2}}'
  recorded_at: Fri, 19 Sep 2014 12:46:14 GMT
recorded_with: VCR 2.7.0
