---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=2&limit=100&todate=2011-09-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '73'
      X-Uid:
      - aa2fe109
      X-Build:
      - 7aa924b595
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":19,"@TotalPages":1,"@CurrentPage":1},"Vouchers":[{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/1?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":1,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/2?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":2,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/3?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":3,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/4?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":4,"VoucherSeries":"A","Year":2},{"@ur[...]
