---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=2&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '229'
      X-Uid:
      - 5a701f79
      X-Build:
      - '53483'
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":236,"@TotalPages":3,"@CurrentPage":1},"Vouchers":[{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/1?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":1,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/2?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":2,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/3?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":3,"VoucherSeries":"A","Year":2},{"@url":"https:\/\/api.fortnox.se\/3\/vouchers\/A\/4?financialyear=2","ReferenceNumber":"","ReferenceType":"MANUAL","VoucherNumber":4,"VoucherSeries":"A","Year":2},{"@ur[...]
- request:
    method: get
    uri: https://api.fortnox.se/3/vouchers?financialyear=2&limit=100&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - dd49b5e5-032d-424b-93ad-7a62e15064c6
      Client-Secret:
      - GkEhaNS5h9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '86'
      X-Uid:
      - bb444e41
      X-Build:
      - '53483'
    body:
[...]
[...]
